{% extends "base.html" %}
{% block content %}
<h1>Catálogo</h1>
<form method="get">
  <input name="search" placeholder="Buscar..." value="{{ request.GET.search }}">
  <button>Buscar</button>
</form>
<ul>
  {% for book in books %}
    <li>
      <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
      — {{ book.authors.all|join:", " }}
      {% if book.average_rating %} (⭐ {{ book.average_rating }}){% endif %}
    </li>
  {% empty %}
    <li>No hay libros</li>
  {% endfor %}
</ul>
{% endblock %}
